body {
    min-height: 2000px;
    padding-top: 70px;
}

ul.nav > li {
    text-transform: uppercase;
}

h1 {
    text-align: center;
}

div.wrapper>p {
    text-align: center;
    margin: auto;
    width: 50%;
}
nav>div{
    height: 600px;
    background-image: url("../img/mountains.png");
}